#art {height: 250px;
  width: 250px; float:top ;; z-index: -1;}

.form {
  display: grid;
  border: solid; grid-template-columns: repeat(3, 0fr); grid-template-rows: repeat(3, 0fr);
gap: 1px; padding: 5px;}

@media screen {
  
}




